%h3
  Behind the concept
%p
  This app was inspired by, but is in no way affiliated with, the teachings of
  =link_to 'Bentinho Massaro', '#'
  and the
  =link_to 'Trinfinity Academy', '#'
  &mdash; online school for enlightenment and empowerment.