%h3
  Behind the concept
%p
  This app was inspired by the teachings of
  =link_to 'Bentinho Massaro', 'http://www.bentinhomassaro.com'
  and 
  =link_to 'Trinfinity Academy', 'https://www.trinfinityacademy.com'
  &mdash; online school for enlightenment and empowerment.