---
title: Recognition - 2-5 second meditation reminders
---

%h3
  Recognition Meditation

%p
  Spread mini meditation breaks throughout the day

%p
  Receive a recognition reminder many times a day - each time take 2 to 5 seconds to recognize that you exist. 
  Let go of all thoughts for that brief period of time, and recognize that which you always already are - beyond all thoughts, ideas, and concepts.

%p
  2-5 Second meditation 12 times a day is a powerful tool to break the chain of thoughts, and thereby create greater clarity in your mind.

%h3 Features:
%ul
  %li Customizable number of reminders
  %li Customizable reminder text
  %li Start and stop times

%p
  Disclaimer:
%p
  Taking 2 to 5 seconds to recognize your own existence, or the "I am", is a powerful tool to greater awareness in your day to day life. It has changed my life completely. 
  However, it only works if you sincerely apply yourself to the practice. This app will help you develop a habit of breaking the chain of thought - to do so is immediately rewarding, so try for yourself!

%p
  This app was inspired by the teachings of Bentinho Massaro and Trinfinity Academy - online school for enlightenment and empowerment.

