---
title: Recognition - 2-5 second meditation reminders
---

%h3
  This is some filler text

%p
  Lucius Domitius and Appius Claudius being consuls, Caesar, when departing from his winter quarters into Italy, as he had been accustomed to do yearly, commands the lieutenants whom he appointed over the legions to take care that during the winter as many ships as possible should be built, and the old repaired. He plans the size and shape of them. For dispatch of lading, and for drawing them on shore, he makes them a little lower than those which we have been accustomed to use in our sea; and that so much the more, because he knew that, on account of the frequent changes of the tide, less swells occurred there; for the purpose of transporting burdens and a great number of horses, [he makes them] a little broader than those which we use in other seas. All these he orders to be constructed for lightness and expedition, to which object their lowness contributes greatly. He orders those things which are necessary for equipping ships to be brought thither from Spain.
%p
  These things being finished, and the assizes being concluded, he returns into Hither Gaul, and proceeds thence to the army. When he had arrived there, having made a survey of the winter quarter, he finds that, by the extraordinary ardor of the soldiers, amid the utmost scarcity of all materials, about six hundred ships of that kind which we have described above and twenty-eight ships of war, had been built, and were not far from that state, that they might be launched in a few days.