---
title: Recognition - 2-5 second meditation reminders
---

%p
  While bitcoin may not be facing a "nightmare" scenario as indicated by the media, digital currency users are now paying higher-than-average fees and waiting longer for transactions to confirm due to an unknown disruptive network user.

%p
  This will be more in-depth content, below the screenshots on both mobile and desktop.